FastAPI
langchain
neo4j
redis
streamlit
openai
uvicorn
PyPDF2
python-dotenv
python-multipart
langchain-core
langchain-openai
langchain-community
tqdm
numpy
websocket-client>=1.4.0
websockets>=10.4
chardet
sentence-transformers